// Game Container
.game__container {

  margin: 0;
  width: 100%;
  height: 100vh;

  display: grid;
  
  /* Use two template so that later user can resize easily */
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  gap: 1rem;
  padding: 1rem;

  position: relative;

  & > span:last-child {
    color: white;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    position: absolute;
    border: 3px dashed white;
    border-radius: 4px;
    top: 3rem;
    right: 3rem;
  }
}


// Game LeaderBoard
.game__leader-board {
  border: 2px solid white;
  // padding: 0.5rem;
  grid-column: 1 / span 3;
  grid-row: 1 / span 4;
  border-radius: 0.5rem;
  overflow: auto;

  & > div {
    border-radius: 0.5rem;
    border: 2px solid white;
    margin: 1rem;
    padding: 0.5rem;
  }

  p {
    margin: 0;
  }
}

// Game Chat 
.game__chat {
  border: 2px solid white;
  border-radius: 0.5rem;
  grid-column: 1 / span 3;
  grid-row: 5 / span 4;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;

  & > div {
    border: 2px solid white;
    border-radius: 0.5rem;
    overflow: auto;
    width: 100%;
    height: 100%;
  }

  p {
    padding: 0.5rem;
    border: 0.5px solid white;
    margin: 0;
    overflow-wrap: break-word;
  }

  textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    height: 35%;
    border: none;
    background: darkgrey;
    resize: none;
  }

  textarea:focus {
    outline: none;
  }

}


// Game Canvas
.game__canvas {
  border: 2px solid white;
  border-radius: 0.5rem;
  grid-column: 4 / span 9;
  grid-row: 1 / span 7;
  padding: 1rem;
  position: relative;

  // word prompt
  & > span {
    position: absolute;
    font-weight: bold;
    font-size: 1.5rem;
    top: 1.5rem;
    left: 2rem;
    color: white;
  }

  & > canvas {
    border: 2px solid white;
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
    touch-action: none;

    &:hover {
      cursor: crosshair;
    }
  }

  & > nav {
  }
}

.game__toolbar {
  border: 2px solid white;
  border-radius: 0.5rem;
  grid-column: 4 / span 9;
  grid-row: 8 / span 1;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__color {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;

    &--chosen {
      outline: 2px ridge lightgrey;
    }

    div {
      aspect-ratio: 1 / 1;
      width: 1.5rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__width {
    width: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 0.5rem;

    &--chosen {
      outline: 2px solid lightgrey;
    }
  
    div {
      aspect-ratio: 1 / 1;
      border-radius: 50%;

      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          width: $i * 0.5rem; 
        }
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
  
  &__delete {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    svg {
      width: 2rem;
      
      &:hover {
        cursor: pointer;
      }

      &:last-child {
        width: 1.5rem;
        stroke-width: 20;
        line-cap: round;
        stroke: red;
      }
    }
    
  }
}

.game__answerbar {

  border: 2px solid white;
  border-radius: 0.5rem;
  grid-column: 4 / span 9;
  grid-row: 8 / span 1;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  input {
    width: 100%;
    padding: 0.25rem;
    border: none;
    border-radius: 0.5rem; 
    text-align: center;
    background: darkgrey;

    &:focus {
      border: none;
      outline: none;
    }
  }

  & > p {
    color: gold;
    margin: 0;
    font-size: 1.5rem;
  }
}
