@use 'game';
@use 'login';
@use 'global';

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  background: #292a2d;
  color: white;
  font-family: Tahoma, sans-serif;
}
